<% @recipes.each do |recipe| %>
    
    <div class="img">
     	<!-- <%= link_to recipe["title"], recipe["source_url"]  %> -->
		 <%= image_tag(recipe["thumb"], :title => "#{recipe['title']}") %>
	</div>
  <% end %>

