<h1>Recipes</h1>

<ul>
  <% @recipes.each do |recipe| %>
    <li>
      <div>
      <%= recipe["title"] %>
      </div>
    </li>
  <% end %>
</ul>

<!-- <div>
JSON response
  <p>
  <%= @response.body %>
  </p>
</div> -->