<h1>Punchfork Recipe Results</h1>

<%= form_tag searches_path do %>
	<%= label_tag :search %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<table>
<tr>
	<th>Title</th>
	<th>Picture</th>
	<th>Rating</th>
	<th>Source</th>
</tr>
<tr>
	<td>#</td>
	<td>#</td>
	<td>#</td>
	<td>#</td>
</tr>
		
</table>