<h1>Punchfork Recipe Results</h1>

<%= form_tag searches_path, :remote => true, :id => "search-form" do %>
	<%= label_tag :search %>
	<%= text_field_tag :search %>
	<%= submit_tag "Search" %>
<% end %>

<div>
	<ul id="results-list">
		<li></li>

	</ul>
</div>